.container {
  width: 100%;
  margin: 0 auto;
}

.container * {
  /* border: 1px solid red; */
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
